 body {
     background-color: black;
 }
 
 
 .main {
     display: flex;
     justify-content: center;
     align-items:center;
     height:100vh;
     width:100vw;
     background-image: url('sushiboat.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }
 
 .intro {
     background-color: black;
     color: whitesmoke;
     height:5vh;
 }

 .intro h1, .intro p {
     margin: 0;
 }

 #title, p {
    text-align: center;
}
 
 #survey-form {
     border:6px solid black;
     border-radius: 5%;
     border-style: groove;     
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     background-color: white;
     height:50rem;
     width:45rem;
     opacity:80%;
     font-family: 'Inconsolata', monospace;
     font-style: bold;
     font-size: 1.5rem;
     padding:1%;
}

input {
    border: 3px black solid;

}

.ft {
    font-family: 'Crafty Girls', cursive;
    font-size: 4.5rem;
    margin: 0 auto;
}

.clipart {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.clipart img {
    height:60px;
    width:60px;
    opacity:90%;
    margin: 0 3% 0 3%;
}

.you { 
    margin:0 auto;
    font-family: 'Inconsolata', monospace;
    

}

.personal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

}

.contact {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.stomach {
    display: flex;
    width:100%;
    flex-direction:column;
    justify-content:space-evenly;   
    
}

.pair-1, .pair-2, .pair-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.line-1, .line-2 {
    height:3px;
    background: linear-gradient(35deg, red, orange, black);
    margin: 6px;
    width:50%;
    align-self: center;
}

.line-2 {
    background: linear-gradient(35deg, black, orange, red);
}



.checkbox-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width:100%;

}

.five-sides {
    display: flex;
    flex-direction: column;
}

.please  {
    margin:0;
    
}

.prefer {
    margin: 0 auto;
}


.choose{
    margin: auto auto;
    font-size: 1rem;
    width:50%;
}

.radio p {
    margin: 0 auto;
}

#button {
    width:100%;
    display: flex;
    justify-content: center;
}

.button {
    height:4rem;
    width:33%;
    border-radius:5%;
    border:6px solid black;
    background-color: red;
    color:black;
    font-size: 1.75rem;
    font-family: 'Inconsolata', monospace;
    
    
}

.button:hover, input:hover {
    cursor: pointer;
    
}

.hidden {
    position:;
    color:blanchedalmond;
    margin:0 auto;
    width:100%;

}

.hidden p, .hidden h1 {
    margin:0;
    font-size:.000000003rem;
}

@media only screen and (max-width: 800px) {


    #survey-form {
        font-size:1rem;
        width:20rem;
    }
    
    .clipart img {
        width:30px;
        height:30px;
    }
    
    .button {
        font-size:1rem;
    }

    .choose {
        font-size:.75rem;
    }
       
    
    
    .main {
        height:100vh;
        width:100vw;
    
    }
    
    .ft {
        font-size:2.5rem;
    }

    .text {
        font-size:.75rem;
    }
    
    textarea {
        width:80%;
    }
  

}